.page-heading > h1 {
  color: #3C3E40;
  text-shadow: 2px 2px 4px #737373;
}

.page-subheading {
  color: #3C3E40;
  text-shadow: 2px 2px 4px #737373;
}

hr {
  color: #3C3E40;
  text-shadow: 2px 2px 4px #737373;
}