---
---

<!-- Begin Signup Form -->
<div class="subscribe">
  <div class="subscribe-info">
    <p><em>Get notified about new articles and receive downloads for PhD20's <strong>Adventure Design Document</strong> and <strong>Obsidian TTRPG Vault Template</strong>.</em></p>
  </div>
  <div class="" id="mc_embed_signup">
    <form
      action="https://buttondown.email/api/emails/embed-subscribe/phd20"
      method="post"
      target="_self"
      class="embeddable-buttondown-form"
    >
      <label for="bd-email" style="display: none;">Enter your email</label>
      <input type="email" name="email" id="bd-email" placeholder="Email address" />
      <input id="bd-subscribe" type="submit" value="Subscribe" />
    </form>
  </div>
  <div class="paid-callout">
    <p>Become a <strong><a href="https://patreon.com/phd20">Patron</a></strong> and get exclusive resources for Obsidian & TTRPGs.</p>
  </div>
</div>

<!--End mc_embed_signup-->
