---
import { getCollection } from "astro:content";

const {title, tag} = Astro.props;

const taggedBlogPosts = await getCollection('blog', ({ data }) => {
  return !data.draft && data.tags.includes(tag);
});

const sortedPosts = taggedBlogPosts.sort((a, b) => a.data.date.getTime() - b.data.date.getTime());

---

<div>
    <h3>{title}</h3>
    <ul>
      {sortedPosts.map((p) => (
        <li>
          <a href={`/blog/${p.slug}`}>{p.data.title}</a>
        </li>
      ))}
    </ul>
  </div>
  